@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Paifon;
  src: url(../files/Paifon\ 1.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  height: 52.706rem;
  display: flex;
  flex: 1;
  flex-direction: row;
}
.main .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main .col h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s;
}
.main .col h2:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.main .col button {
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  transition: background 0.3s;
  cursor: pointer;
  display: block;
}
.main .col button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.main .col h1::before {
  content: none;
}

.header {
  background-color: #f5f5f8;
  color: #000;
  height: 5.856rem;
  display: flex;
  align-items: center;
}
.header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav .main-btn {
  margin: 0 2rem;
  padding: 0.8rem;
  border: none;
  border-radius: 30px;
  background-color: #e6e6e9;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 1px 1px 3px black;
  font-family: "Roboto", sans-serif;
}
.header .nav .main-btn:hover {
  background-color: #dbdbdf;
}
.header .nav .main-btn:active {
  background-color: #d5d5d6;
}
.header .nav .create-text,
.header .nav .share-text {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.header .nav .share-text {
  width: 200px;
}

@media (max-height: 1368px) {
  .main {
    height: 80.706rem;
  }
}
@media (max-height: 1180px) {
  .main {
    height: 68.706rem;
  }
}
@media (max-height: 1024px) {
  .main {
    height: 58.706rem;
  }
}
@media (max-height: 937px) {
  .main {
    height: 60.706rem;
  }
}
@media (max-height: 915px) {
  .main {
    height: 51.706rem;
  }
}
@media (max-height: 898px) {
  .main {
    height: 50.706rem;
  }
}
@media (max-height: 851px) {
  .main {
    height: 47.706rem;
  }
}
@media (max-height: 844px) {
  .main {
    height: 47.706rem;
  }
}
@media (max-height: 800px) {
  .main {
    height: 44.706rem;
  }
}
@media (max-height: 740px) {
  .main {
    height: 40.706rem;
  }
}
@media (max-height: 720px) {
  .main {
    height: 39.706rem;
  }
}
@media (max-width: 703px) {
  .nav {
    font-size: 0.8rem;
  }
  .nav .main-btn {
    font-size: 0.8rem;
  }
  .col h2 {
    font-size: 1.4rem;
  }
}
@media (max-height: 667px) {
  .main {
    height: 36.206rem;
  }
}
@media (max-width: 615px) {
  .nav {
    font-size: 0.7rem;
  }
  .nav .main-btn {
    font-size: 0.7rem;
  }
  .col h2 {
    font-size: 1.3rem;
  }
}
@media (max-height: 600px) {
  .main {
    height: 31.706rem;
  }
}
@media (max-width: 553px) {
  .nav {
    font-size: 0.6rem;
  }
  .nav .main-btn {
    font-size: 0.6rem;
  }
  .col h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 491px) {
  .nav {
    font-size: 0.5rem;
  }
  .nav .main-btn {
    font-size: 0.5rem;
  }
  .col h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 448px) {
  .col h2 {
    font-size: 1rem;
  }
}
@media (max-width: 429px) {
  .nav {
    font-size: 0.44rem;
  }
  .nav .main-btn {
    font-size: 0.44rem;
  }
  .col h2 {
    font-size: 0.9rem;
  }
}
@media (max-width: 398px) {
  .nav {
    font-size: 0.42rem;
  }
  .nav .main-btn {
    font-size: 0.42rem;
  }
  .col h2 {
    font-size: 0.8rem;
  }
}
@media (max-width: 385px) {
  .nav {
    font-size: 0.4rem;
  }
  .nav .main-btn {
    font-size: 0.4rem;
  }
  .col h2 {
    font-size: 0.8rem;
  }
}
@media (max-width: 368px) {
  .nav {
    font-size: 0.38rem;
  }
}
@media (max-width: 360px) {
  .nav {
    font-size: 0.32rem;
  }
  .col h2 {
    font-size: 0.77rem;
  }
}
@media (max-width: 343px) {
  .col h2 {
    font-size: 0.7rem;
  }
}
@media (max-width: 335px) {
  .nav {
    font-size: 0.28rem;
  }
  .col h2 {
    font-size: 0.67rem;
  }
}/*# sourceMappingURL=style.css.map */